 <!--エラー-->
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のエラーが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container px-5 px-sm-0">
  <div class="row">

    <!--共通レイアウト-->
    <%= render 'list', book: @book, user: current_user %>

    <!-- ユーザーの投稿一覧 -->
    <div class="col-md-8 offset-md-1">

      <h2>Books</h2>
      <table class="table table-hover table-inverse">

        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan=3></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <% @books.each do |book| %>
              <tr>
                <td>
                  <%= link_to user_path(user.id) ,method: :get do %>
                    <%= image_tag user.get_profile_image(80,80) %>
                  <% end %>
                </td>
                <td>
                  <%= link_to book_path(book.id) ,method: :get do %>
                    <%= book.title %>
                  <% end %>
                </td>
                <td><%= book.body %></td>
              </tr>
            <% end %>
            <% break %>
          <% end %>
        </tbody>

      </table>

    </div>

  </div>
</div>